:root {
    --radii: 0.5em;
    --btn-bg-color: hsla(360 100% 100% / 1);
    --btn-bg-default-1-2: #f07efa;
    --btn-bg-default-1-3: #9b00b8;
    --btn-bg-default-1: #d500fd;
    --btn-bg-1: #00f2fe;
    --btn-bg-1-2: #4facfe;
    --btn-bg-2: #0ddb1e;
    --btn-bg-2-2: #43e97b;
    --btn-bg-3: #f9f871;
    --btn-bg-3-2: #ffc75f;
    --btn-bg-4: #f69365;
    --btn-bg-4-2: #ff6a41;
    --btn-bg-5: #ff635d;
    --btn-bg-5-2: #ff0844;
    --setting-color: #ff49f3;
    --setting-color-2: #d31be4;
    --btn-color: #ff0081;

    --liquid-grd: linear-gradient(
        325deg,
        var(--btn-bg-1) 0%,
        var(--btn-bg-1-2) 55%,
        var(--btn-bg-1) 90%
    );
}

@media (prefers-reduced-motion: reduce) {
    .btn-animation_1,
    .btn-animation_2,
    .btn-animation_3,
    .btn-animation_4,
    .btn-animation_5 {
        transition: linear;
    }
}
/* List Button */
.hover-animation {
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-default-1) 0%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1-3) 90%
    );
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow: 0px 0px 20px rgba(224, 71, 255, 0.5),
        0px 5px 5px -1px rgba(204, 58, 233, 0.25),
        inset 4px 4px 8px rgba(236, 175, 255, 0.5),
        inset -4px -4px 8px rgba(216, 19, 200, 0.35);
}

.hover-animation:is(:focus, :focus-within, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color),
        0 0 0 6px var(--btn-bg-default-1-3);
}

/* List hover */

.hover-1:hover {
    background-position: right top;
    color: white;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-1-2) 0%,
        var(--btn-bg-1) 40%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1) 90%
    );
}

.hover-2:hover {
    background-position: right top;
    color: white;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-2-2) 0%,
        var(--btn-bg-2) 40%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1) 90%
    );
}

.hover-3:hover {
    background-position: right top;
    color: white;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-3-2) 0%,
        var(--btn-bg-3) 40%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1) 90%
    );
}

.hover-4:hover {
    background-position: right top;
    color: white;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-4-2) 0%,
        var(--btn-bg-4) 40%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1) 90%
    );
}

.hover-5:hover {
    background-position: right top;
    color: white;
    background-image: linear-gradient(
        325deg,
        var(--btn-bg-5-2) 0%,
        var(--btn-bg-5) 40%,
        var(--btn-bg-default-1-2) 55%,
        var(--btn-bg-default-1) 90%
    );
}

/* Help */
.btn-help-animation {
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(
        325deg,
        var(--setting-color-2) 0%,
        var(--setting-color) 55%,
        var(--setting-color-2) 90%
    );
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color) !important;
    box-shadow: 0px 0px 20px rgba(255, 127, 253, 0.5),
        0px 5px 5px -1px rgba(227, 30, 221, 0.25),
        inset 4px 4px 8px rgba(221, 41, 227, 0.5),
        inset -4px -4px 8px rgba(170, 39, 159, 0.35);
}

.btn-help-animation:hover {
    background-position: right top;
}

.btn-help-animation:is(:focus, :focus-within, :active) {
    outline: none;
    box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--setting-color-2);
}

/* Button clicked animation */

.hover-animation:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hover-animation:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.hover-animation::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.0009s;
}

.hover-animation:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.more:hover,
.home-btn:hover {
    transform: translateY(-20px);
}

.game-buttons {
    border-color: #ffffff;
    color: #ffffff;
    transition: all 0.5s;
}

.game-buttons:hover {
    box-shadow: inset 5em 0 0 0 var(--setting-color),
        inset -5em 0 0 0 var(--setting-color);
    border-color: var(--setting-color-2);
    color: #fff;
}
